.img-rounded {
  border-radius: $border-radius-lg;
  object-fit: cover;
  width: 100%;
}

.shadow-soft { box-shadow: 0 20px 40px rgba(#0b1838, .08); }

.text-success {
  color: $success;
}

.triangle-top {
  position: relative;
}

// .triangle-top:before {
//     content: '';
//     background-color: inherit;
//     background-color: green;
//     width: 120%;
//     height: 50%;
//     position: absolut;
//     transform: rotate(-3deg) translate(-10%,-50%);
//     top: 10%;
//     z-index: -1;
// }

.triangle-top:before {
  content: '';
  background-color: inherit;
  // background-color: green;
  display: block;
  width: 100%;
  height: 2.5rem;
  top: -1.3rem;
  clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 50%);
  position: absolute; 
  z-index: -1;

  @include media-breakpoint-up(md) { 
    height: 5rem;
    top: -2.5rem;
  }
  @include media-breakpoint-up(lg) { 
    height: 10rem;
    top: -5rem;
  }
}